EXPO_PUBLIC_SUPABASE_URL=https://oxwhgzwamtytcqivntdn.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im94d2hnendhbXR5dGNxaXZudGRuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg4NDg4MDcsImV4cCI6MjA5NDQyNDgwN30.4DWipASLVaci8ADT-uV1OEi_Ho4wuTI6j7H_DFHA99E
